.todo-container {
	height: calc(100vh - 64px);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

.todo-list {
	width: 300px;
	border-radius: 4px;
	box-shadow: 0 0 30px 0 #ccc;
}

.todo-header {
	padding: 16px;
	padding-top: 24px;
	border-bottom: 1px solid #ccc;
	display: flex;
}

.todo-header .new-item {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
	border: none;
	margin-left: 16px;
	padding: 7px 0;
	padding-left: 16px;
	width: 100%;
}

.todo-header .new-item:focus {
	outline: none;
	box-shadow: 0 1px 0 0 #ccc;
}

.todo-item {
	display: flex;
	user-select: none;
	padding: 8px 16px;
}

.todo-item>span {
	margin-left: 10px;
	line-height: 32px;
}

.todo-item__done>span {
	text-decoration: line-through;
	opacity: .3;
}